# ============================================================================ #
#    Directories
# ============================================================================ #

# having a trailing / excludes files being ignored matching the same pattern.

_*/
~*/
media/
*env/
.vscode/
static/

#    Specific
# -------------------------------------------------------------------- #


# ============================================================================ #
#    Files
# ============================================================================ #

*.sqlite3
*website-config.json
*.log
*.pot
*.pyc
*.bak
*.code-workspace
.history

#    Specific
# -------------------------------------------------------------------- #
local_settings.py