/* CSS for BLOG app only */

.category-tag {
	/* extends .tag */
	color: var(--color-accent2);
	background-color: var(--bg-color-very-subtle);
	text-transform: uppercase;
	font-size: 0.8em;
	letter-spacing: 0.1em;
}

.post-header-left, .post-header-right {
	display: inline-block;
	vertical-align: middle;
}
	.post-header-left {
		/* set to 100% - 150px */
		width: calc(95% - 150px);
	}
	.post-header-right {
		width: 150px;
		height: auto;
	}


.post p {
	margin-bottom: 0.5em;
}
.post h2 {
	line-height: 1.6em;
}
.post a {
	color: var(--color-link);
}

.posts-list .grid-container {
  	grid-template-columns: 1fr;
  	gap: 0;
}
	.posts-list .item.grid-container {
		grid-template-columns: auto max-content;
		gap: var(--tiny-gap);
	}