/* CSS for BLOG app only */

.category-tag {
	/* extends .tag */
	color: var(--color-accent2);
	background-color: var(--bg-color-very-subtle);
	text-transform: uppercase;
	font-size: 0.8em;
	letter-spacing: 0.1em;
}

.post h2 {
	line-height: 1.6em;
}
.post a {
	color: var(--color-link);
}

.posts-list .grid-container {
  	grid-template-columns: 1fr;
  	gap: 0;
}
	.posts-list .item.grid-container {
		grid-template-columns: auto max-content;
		gap: var(--tiny-gap);
	}