{% extends "./index.html" %}

{% block title %}
   {{ category|capfirst] }} | Posts
{% endblock %}

<!-- we only need to override the posts-list section -->

    <!-- POSTS LIST
    # --------------------------------------------------------------------->
    {% block posts-list %}
	
	<!-- create a listing section for each category -->
	<section class="posts-list">
		<h2>{{ category|capfirst }}</h2>
		<hr>
		<div class="grid-container">
			{% for item in category_posts %}
			<div class="item grid-container">
				<div>
					<a href="{% url 'blog:post' item.id %}#header"><p class="clickable">{{ item.title }}</p></a>
					<p><span class="color-subtle smaller-text">Tags: </span>
						{% for tag in item.tags.all %}
						{% if not tag.hidden %}
                        <a href="{% url 'blog:tag' tag.id %}">
						    <span class="tag">{{ tag.name }}</span>
                        </a>
						{% endif %}
						{% endfor %}
					</p>
				</div>
				<div class="right uppercase color-subtle">
					{{ item.publication_date|date:"M Y" }}
				</div>
			</div>
			<hr class="narrow">
			{% empty %}
			<!-- clause to run if no posts were found in the given category -->
			<p class="color-subtle">No posts in this category yet.</p>
			{% endfor %}
		</div>
	</section>

	{% endblock posts-list %}