{% extends "base/base.html" %}

{% block additional_head_content %}
	<link rel="stylesheet" href="{% static 'blog/style.css' %}">
	{% block post_head_content %}
	{% endblock %}
{% endblock %}


{% block title %}
    Blog | {{ first_name }} {{ last_name }}
{% endblock %}


<!-- NAV LINKS OVERRIDE
# ===================================================================-->

	<!-- modifies part of the navigation bar -->
	{% block nav_links_li %}
    <li><a href="{% url 'base:professional' %}#header">Professional</a>
    </li>
	<li>
        <!-- color this link icon because it's the current page -->
		<a href="{% url 'blog:index' %}#header" class="color-accent">Blog</a>
	</li>
	<li><a href="{% url 'base:contact' %}#header">Contact</a>
	</li>
	{% endblock %}


<!-- CONTENT OUTSIDE OF NAV
# ===================================================================-->
{% block except-nav %}


	<!-- HEADER
	# --------------------------------------------------------------------->
	
	<!-- Let's have no header in blog, just put some space above the categories bar -->
	<!-- Add id header so that scroll position on mobile devices can be asked to move to header -->
	<div class="spacer50" id="header"></div>


	<!-- BLOG CATEGORIES BAR ON TOP
	# --------------------------------------------------------------------->

	<section class="categories-bar">
		<div class="navbar card-very-thin rounded-small centered">
			{% for category in category_list %}
			<!-- NOTE: the if condition to detect the active link is less than ideal. I would like to use something like << if request.path == 'blog/category/'|add:category.id|stringformat:'s' >> as a condition, but it's not working for some reason -->
			<div class="centered inline padded-tiny smaller-text clickable {% if category.id|stringformat:'s' in request.path %}nav-button-active{% else %}nav-button{% endif %}">
				<a href="{% url 'blog:category' category.id %}#header">{{ category|capfirst }}</a>
			</div>
			{% endfor %}
		</div>
	</section>


	<!-- POSTS LIST
	# --------------------------------------------------------------------->
	<!-- this block is replaced by either the category or the tag page  -->
	{% block posts-list %}

	{% endblock posts-list %}


	<!-- POST
	# --------------------------------------------------------------------->
	<!-- this block is placed here so that the content can be added into it from the post.html template -->
	{% block post %}

	{% endblock %}

	
	<!-- RECENT POSTS (from any/all categories)
	# --------------------------------------------------------------------->

	<section class="posts-list">
		<h2>Recent Posts</h2>
		<hr>
		<div class="grid-container">
			{% for item in recent_posts %}
			<div class="item grid-container">
				<div>
					<a href="{% url 'blog:post' item.id %}#header"><p class="clickable">{{ item.title }}</p></a>
					<p><span class="color-subtle smaller-text">Categories: </span>
						{% for cat in item.categories.all %}
						{% if not cat.hidden %}
						<a href="{% url 'blog:category' cat.id %}">
							<span class="tag category-tag clickable">{{ cat.name }}</span>
						</a>
						{% endif %}
						{% endfor %}
					</p>
				</div>
				<div class="right uppercase color-subtle">
					{{ item.publication_date|date:"M Y" }}
				</div>
			</div>
			<hr class="narrow">
			{% endfor %}
		</div>
	</section>

{% endblock except-nav %}