body {
    font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6, .heading-row, .group-row {
    font-family: 'Trebuchet MS', sans-serif;
}

h1 {
    font-size: 1.5em;
    letter-spacing: 3pt;
}

h2 {
    font-size: 1.1em;
    letter-spacing: 0.15em;
}

h3 {
    font-size: 0.9em;
    letter-spacing: 0.1em;
}

.page-1 .header-left p {
    /* applies to the tagline */
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 0.9em;
}

.page-1 .header-right p {
    font-family: 'Trebuchet MS', sans-serif;
}

.skillset-group {
    /* not sure why I had to tweak this but was needed to keep all four groups together */
    width: 1.79in;
}
.skillset h3 {
    font-weight: bold;
}

.skill-item {
    font-weight: normal;
}