/* used as an extension of resume.css */

:root {
  --accent-color: #c93;
  --item-vgap: 0.2in;
}

body {
  font-family: "Arial", sans-serif;
}

.page-1 .module-heading {
  margin-bottom: 0.15in; /* fine-tuned */
}
.page-1 .experience .item {
  margin-bottom: 0.14in; /* fine-tuned */
}

.publications .item,
.presentations .item,
.proposals .item,
.advising .item,
.mentoring .item,
.reviews .item {
  margin-bottom: 0.07in; /* fine-tuned */
}

.skillset-group {
  width: 1.79in;
}

.skill-item {
  font-weight: normal;
}
