/*

FONTS AVAILABLE
Roboto: 100, 100italic, 300, 300italic, 400, 400italic, 500, 500italic, 700, 700italic, 900, 900italic
Roboto Condensed: 300, 300italic, 400, 400italic, 700, 700italic

*/


/*   TAGS APPLICABLE TO ENTIRE (MAJORITY) OF DOCUMENT
/*=========================================================================== */

body {
    font-family: 'Roboto', sans-serif;;
    font-size: 9pt;
    line-height: 1.5em;
    width: 8.5in;
    margin: 0 auto;
    box-shadow: 0 0 0.1in 0.05in rgba(0, 0, 0, 0.3);
}
::selection {
	color: inherit;
	background: #c90;
}
::-moz-selection {
	color: inherit;
	background: #c90;
}
h1 { 
    /* used for the name */
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 4pt;
    margin-bottom: 0.1in;
    margin-top: 0;
}
h2 {
    /* used for section headings */
    font-family: 'Roboto Serif', serif;
    font-size: 0.95em;
    line-height: 0.95em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 3pt;
    padding: 0.11in 0 0.09in;
    /* box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 3px -1px; */
    grid-area: h2;
}
h3 {
    font-family: 'Roboto Serif', serif;
    font-size: 0.85em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1pt;
    margin-bottom: 0.05in;
}
h4 {
    font-size: 0.87em;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 1pt;
    margin-bottom: 0.05in;
}
h5 {
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: normal;
    letter-spacing: 0.8pt;
    margin-bottom: 0.0in;
    line-height: 1.5em; /* matches body, p */
}
ol {
    padding-left: 0.18in; /* this aligns it with the 0.05 left padding */
}
ul {
    list-style-type: '—';
    padding-left: 0.18in;
}
li {
    padding-left: 0.1in;
    line-height: 1.7em; /* same as body, p */
}
a {
    color: inherit;
    text-decoration: dotted;
}
header {
    font-family: 'Roboto Serif', serif;
    grid-area: header;
    margin-bottom: 0.3in;
}
footer {
    color: #666;
    background-color: #eee;
    display: grid; /* 3 children inside */
    grid-area: footer;
    grid-template-columns: 2.8in auto 2.8in; /* roughly divide the page in thirds */
    grid-template-rows: 0.6in 0.09in; /* 0.092 instead of 0.1 helps with no extra page during printing */
    grid-template-areas: 
    "footer-left footer-center footer-right"
    "footer-border footer-border footer-border";
    align-items: center;
    border-top: solid 1px #ddd;
}


/*   COMMON CLASSES
/*=========================================================================== */

/* MATERIAL ICONS */

.material-icons.md-normal {
    font-size: 1.4em;
    line-height: inherit;
    color: inherit;
    margin-right: 0.1in;
    vertical-align: middle;
}
.material-icons.md-small-right {
    font-size: 1.2em;
    line-height: inherit;
    color: inherit;
    margin-left: 0.02in;
    vertical-align: middle;
}
.material-icons.md-small-left {
    font-size: 1.0em;
    line-height: inherit;
    color: inherit;
    margin-right: 0.02in;
    vertical-align: middle;
}

/* PAGE RELATED */

.page {
    display: grid;
    /* it will be better to have left-right margins within sections */
    grid-template-rows: 0.7in 9.6in 0.7in;
    /* it's not important to provide height if all lengths are specified above */
    grid-template-areas:
        "header"
        "page-body-container"
        "footer";
}
.page-body-container {
    margin: 0 0.6in;
    grid-area: page-body-container;
}

.item {
    margin-bottom: 0.2in;
    padding-left: 0.05in;
}

.module {
    margin-bottom: 0.25in;
}
.module-heading {
    display: grid;
    grid-template-columns: auto 0.3in;
    grid-template-areas: 
    "h2 h2-right";
    margin-bottom: 0.2in;
    padding: 0 0.05in;
    border-top: solid 1px #000;
    border-bottom: solid 1px #000;
    align-items: center;
}
.module-description {
    margin-bottom: 0.1in;
    padding-left: 0.05in;
}

.material-icons.h2-right {
    font-size: 1.4em;
    line-height: 1.4em;
    grid-area: h2-right;
    justify-self: right;
}
.h2-right {
    padding-left: 0.05in;
    font-size: 0.8em;
}

.fancy-number {
    font-weight: bold;
    min-width: 1.5em;
    height: 1.5em;
    line-height: 1.5em;
    background-color: #eee;
    border-bottom: solid 1px #ccc;
    border-radius: 0.2em;
    padding: 0 0.05in;
    text-align: center;
}

.progress-bar-container {
    width:100%;
    background-color: #f3f3f3;
    border: solid 1px #ddd;
    border-radius: 0.2em;
    height: 0.15in;
}
.progress-bar {
    background-color: #ddd; /* #E1A814 nice orange */
    width: 100%; /* set dynamically in html */
    /* so that the text (if any) can overflow outside */
    white-space: nowrap;
    padding-left: 0.03in;
}
.progress-bar-dot {
    /* unused */
    width: 5px;
    height: 5px;
    border-radius: 5px;
    background-color: #0f0; /* #E1A814 nice orange */
    position: relative;
    top: -2px;
    left: 100%;
}
.footer-left {
    grid-area: footer-left;
    padding-left: 0.5in;
    text-align: left;
}
.footer-center {
    grid-area: footer-center;
    text-align: center;
}
.footer-right {
    grid-area: footer-right;
    padding-right: 0.5in;
    text-align: right;
}
.footer-border {
    height: 0.1in;
    background-color: #555;
    grid-area: footer-border;
}
    

/*   TOP TO BOTTOM SECTIONS
/*=========================================================================== */

.page-1 {
    /* make the header taller than on the other pages */
    grid-template-rows: 1.5in 8.8in 0.7in;
}
    /* only display this as a grid on the first page */
    .page-1 .page-body-container {
        display: grid;
        /* margin on 0.6in on each side has already been set */
        grid-template-columns: auto 2.6in; /* 7.3in available */
        grid-template-areas:
            "left-area right-area";
    }

    .page-1 header {
        text-transform: uppercase;
        display: grid; /* 2 children inside */
        /* align with page-body-container margins, minimize the space for header-right by trial and error */
        grid-template-columns: 0.6in auto 2in 0.6in; /* 7.3in between margins */
        grid-template-areas:
            ". header-left header-right .";
        border-bottom: solid 1px #c90;
        background-color: #fff;
    }
        .page-1 .header-left {
            /* note that align center using grid system was not working in print layout, so setting padding manually */
            padding-top: 0.4in; /* to center, trial and error */
            grid-area: header-left;
        }
            .page-1 .header-left .tagline {
                font-size: 0.87em;
                text-transform: uppercase;
                letter-spacing: 2pt;
                margin-bottom: 0.05in;
            }
        .page-1 .header-right {
            padding-top: 0.34in; /* to center, trial and error */
            grid-area: header-right;
        }
            .page-1 .header-right p {
                font-weight: bold;
                font-size: 0.65em;
                line-height: 2em;
                letter-spacing: 2pt;
            }

/* COLUMNS ON THE FIRST PAGE */
.left-area {
    grid-area: left-area;
    margin-right: 0.1in; /* for the center gap of 0.2in */
}
.right-area {
    grid-area: right-area;
    margin-left: 0.1in; /* for the center gap of 0.2in */
}

/* ---------------------------------------------------------- */

.statement p {
    padding-left: 0.05in; /* matches h2 */
}

/* ---------------------------------------------------------- */

.education h3 {
    letter-spacing: 1pt;
    margin-bottom: 0in; /* else there would be default margin */
}

/* ---------------------------------------------------------- */

.experience h3 {
    line-height: 1.5em;
    margin-bottom: 0.02in; /* to keep it close to the h4 below */
}
    .experience .postdoc h3 {
        margin-bottom: 0.12in; /* postdoc exception */
    }
.experience h4 {
    line-height: 1.4em;
    margin-bottom: 0.05in; /* to keep it close to the h4 below */
}
    .experience .postdoc h4 {
        margin-top: 0.12in; /* postdoc exception */
        margin-bottom: 0.02in; /* postdoc exception */
    }
    .experience .item .supervisor {
        font-size: 0.9em;
        text-transform: none;
        letter-spacing: normal;
    }
    .experience .item .date {
        font-size: 1em;
        text-transform: none;
        letter-spacing: normal;
    }

/* ---------------------------------------------------------- */

/* customize right-area things */

.right-area .module {
    margin-bottom: 0.15in;
}
.right-area .module-heading {
    margin-bottom: 0.1in;
}


/* ---------------------------------------------------------- */

.highlights {
    padding-left: 0.05in;
}
    /* fine tuning */
    .highlights.module {
        margin-bottom: 0.25in;
    }

/* ---------------------------------------------------------- */

/* note that this class-name could potentially conflict with the advising module on the subsequent page. It doesn't conflict currently because the latter advising does not contain an item or a material-icons class */

.advising .item {
    margin-bottom: 0.05in;
}
.advising .item.note {
    margin-bottom: 0.262in; /* fine tuning to align the experience and mentoring headings, as seen during print preview */
}
.advising .material-icons {
    color: #333;
}

/* ---------------------------------------------------------- */

/* MENTORING */

/* note that this class-name could potentially conflict with the mentoring module on the subsequent page. It doesn't conflict currently because, well, it's blank */


/* ---------------------------------------------------------- */

.diversity .item {
    padding: 0 0.03in 0 0.05in; /* right and left padding */
    margin-bottom: 0.0in;
}

/* ---------------------------------------------------------- */

.awards p {
    padding-left: 0.05in; /* matches h2 */
}
.awards .year {
    margin-right: 0.1in;
    font-weight: bold;
    font-size: 0.9em;
}

/* ---------------------------------------------------------- */

.publications h3 {
    margin-top: 0.15in; /* add, default only has bottom-margin */
    margin-left: -0.1in; /* to negate the list margins */
}
.publications .prateek-author {
    font-weight: bold;
}
.publications .publisher {
    font-style: italic;
}
.publications .date {
    font-weight: bold;
}
.publications li {
    font-size: 0.9em;
    list-style: '\2712';
}

/* ---------------------------------------------------------- */
    
.presentations .speaker-author {
    font-style: italic;
}
.presentations .date {
    font-weight: bold;
}
.presentations li {
    font-size: 0.9em;
    list-style: '\260A';
}
.presentations .country {
    font-size: 0.8em;
    text-transform: uppercase;
    font-weight: bold;
}

/*    Advising, Mentoring, Teaching
/* ------------------------------------------------------------------ */

.heading-row {
    font-family: 'Roboto Serif', serif;
	font-weight: bold;
    font-size: 0.85em;
	padding: 0 0.1in 0.02in;
	border-bottom: solid 1px #666;
	margin-bottom: 0.07in;
}
    .heading-row div {
        display: inline-block;
        padding: 0.02in 0 0.02in 0.02in; /* top bottom left */
    }
.row {
	font-size: 0.9em;
    line-height: 1.4em;
	margin: 0 0.1in;
	border-bottom: dotted 1px #ccc;
}
    .advising .row:last-child {
        border-bottom: none;
    }
    .teaching .row:last-child {
        border-bottom: none;
    }
.group-row {
	font-weight: bold;
}
/* .row:last-child {
	border-bottom: none;
} */
    .row div {
        display: inline-block;
        vertical-align: top;
        padding: 0.02in 0 0.02in 0.02in; /* top bottom left */
    }
.col-name {
	width: 1.0in;
}
.col-topic {
	width: 2.5in;
}
    .teaching .col-topic {
        width: 4in;
    }
.col-year {
	width: 1in;
}
    .teaching .col-year {
        width: 0.5in;
    }
.col-journey {
	width: 2.5in;
}
    .mentoring .col-journey {
        width: 5in;
    }
.col-school {
	width: 1in;
}
.col-course {
	width: 1in;
}

/* ---------------------------------------------------------- */

.proposals li {
    font-size: 0.9em;
}
.proposals .agency {
    font-size: 0.95em;
    font-weight: bold;
}

/* ---------------------------------------------------------- */

.skillset-group {
    display: inline-block;
    padding: 0 0.05in;
    width: 1.8in;
    vertical-align: top;
}
    .skillset-group .skillset {
        margin-bottom: 0.15in;
    }
        .skill-item {
            line-height: 0.13in; /* keeps it centered when border is given to the container having a height of 0.15in */
            font-size: 0.55em;
            font-weight: 700;
            margin-bottom: 0.015in;
            text-transform: uppercase;
            letter-spacing: 0.5pt;
        }

/* ---------------------------------------------------------- */

.page-7 .left-area { 
    /* margin already set */
    width: 4.6in; /* trial and error */
    display: inline-block;
    vertical-align: top;
}
.page-7 .right-area {
    /* margin already set */
    width: 2.4in; /* matches 1st page */
    display: inline-block;
    vertical-align: top;
}

/* ---------------------------------------------------------- */

.reviews li {
    font-size: 0.9em;
    line-height: 1.5em;
}

/* ---------------------------------------------------------- */

.reference-item {
    padding-left: 0.05in;
    margin-bottom: 0.08in;
}
.reference-item .name {
    font-family: 'Roboto Serif', serif;
    font-weight: bold;
}