/*   EXPERIENCE
/*=========================================================================== */

.experience .grid-container {
	grid-template-columns: 1fr;
	gap: var(--vertical-gap);
}
.experience h4 {
	margin-bottom: 0px;
}
.experience ul {
	padding-left: 20px; /* because ul, li come from database */
}

/*   RESEARCH (publications/presentations)
/*=========================================================================== */

.cv-resume.grid-container {
	grid-template-columns: 1fr 1fr;
}
	@media screen and (max-width: 720px) {
		.cv-resume.grid-container {
			grid-template-columns: 1fr;
			gap: var(--vertical-gap);
		}
	}

.research h3 {
	margin-top: 40px; /* specific scenario for "Publications" and "Presentations" headings */
}
.publications h4, .presentations h4 {
	margin-top: 30px; /* specific scenario */
}
	.research-summary {
		grid-template-columns: 1fr 1fr;
	}
	@media screen and (max-width: 720px) {
		.research-summary {
			grid-template-columns: 1fr;
			gap: var(--vertical-gap);
		}
	}

/*   FOR SMALL HEIGHT SCREENS
/*=========================================================================== */

/* hide professional sub nav links if height of screen is less than 800px */
@media screen and (max-height: 800px) {
	.nav-sub-link {
		display: none;
	}
}

