/*

FONTS AVAILABLE
Roboto: 100, 100italic, 300, 300italic, 400, 400italic, 500, 500italic, 700, 700italic, 900, 900italic
Roboto Condensed: 300, 300italic, 400, 400italic, 700, 700italic

*/


/*   TAGS
/* ------------------------------------------------------------------ */

body {
    font-family: 'Roboto', sans-serif;;
    font-size: 9pt;
    width: 8.5in;
    margin: 0 auto;
    box-shadow: 0 0 0.1in 0.05in rgba(0, 0, 0, 0.3);
}
::selection {
	color: inherit;
	background: #c90;
}
::-moz-selection {
	color: inherit;
	background: #c90;
}
h1 { 
    /* used for the name */
    font-size: 1.6em;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 4pt;
    margin-bottom: 0.1in;
    margin-top: 0;
}
h2 {
    /* used for section headings */
    font-size: 1.1em;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 3pt;
    padding: 0.1in 0;
    /* box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 3px -1px; */
    grid-area: h2;
}
h3 {
    font-size: 0.85em;
    line-height: 1.8em;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 2pt;
    margin-bottom: 0.07in;
}
h4 {
    font-weight: 400;
    margin: 0.07in 0 0.07in;
}
h5 {
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: 300;
    letter-spacing: 0.8pt;
    margin-bottom: 0.0in;
    line-height: 1.5em; /* matches p */
}
p {
    line-height: 1.5em;
}
ul {
    list-style-type: '—';
    padding-left: 0.15in;
}
li {
    padding-left: 0.1in;
    line-height: 1.3em; /* less than p */
}
a {
    color: inherit;
    text-decoration: dotted;
}


/*    MATERIAL ICONS
/* ------------------------------------------------------------------ */

.material-icons.md-normal {
    font-size: 1.4em;
    line-height: inherit;
    color: inherit;
    margin-right: 0.1in;
    vertical-align: middle;
}
.material-icons.md-small-right {
    font-size: 1.0em;
    line-height: inherit;
    color: inherit;
    margin-left: 0.05in;
    vertical-align: middle;
}
.material-icons.md-small-left {
    font-size: 1.0em;
    line-height: inherit;
    color: inherit;
    margin-right: 0.05in;
    vertical-align: middle;
}

/*    CLASSES
/* ------------------------------------------------------------------ */

.page {
    height: 11in;
}
    .page footer {
        grid-area: footer;
        background-color: #eee;
    }
    .page .left-column {
        padding: 0 0.2in 0.2in;
    }
    .page .right-column {
        padding: 0 0.2in 0.2in;
        background-color: rgba(0, 0, 0, 0);
    }

.section-heading {
    display: grid;
    grid-template-columns: auto 0.5in;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "h2 h2-right";
    margin-bottom: 0.2in;
    padding: 0 0.05in;
    border-top: solid 1px #000;
    border-bottom: solid 1px #000;
    align-items: center;
}

.fancy-number {
    font-weight: 900;
    min-width: 1.5em;
    height: 1.5em;
    line-height: 1.5em;
    background-color: #eee;
    border-bottom: solid 1px #ccc;
    border-radius: 0.2em;
    margin-right: 0.05in;
    margin-left: 0.05in;
    padding: 0 0.05in;
    text-align: center;
}

.progress-bar-container {
    width:100%;
    background-color: #ccc;
    height: 1px;
}
.progress-bar {
    background-color: #555; /* #E1A814 nice orange */
    width: 100%;
    height: 100%;
}
.progress-bar-dot {
    width: 5px;
    height: 5px;
    border-radius: 5px;
    background-color: #555; /* #E1A814 nice orange */
    position: relative;
    top: -2px;
    left: 100%;
}
.material-icons.h2-right {
    font-size: 1.4em;
    line-height: 1.4em;
    grid-area: h2-right;
    justify-self: right;
}
.h2-right {
    padding-left: 0.1in;
    border-left: solid 1px #000;
    font-size: 0.8em;
}


/*    SPECIFIC TO PAGE 1
/* ------------------------------------------------------------------ */

.page-1 {
    display: grid;
    grid-template-columns: 0.35in 2.4in 2.4in 3in 0.35in;
    grid-template-rows: 1.6in 1in 2.35in 1.8in 3.55in 0.7in;
    grid-template-areas: 
    "header header header header header"
    ". statement statement highlights ."
    ". experience experience education ."
    ". experience experience awards ."
    ". experience experience skills ."
    "footer footer footer footer footer";
}
    .page-1 header {
        margin-bottom: 0.3in;
        padding: 0 0.35in; /* need to match the page margin grid */
        display: grid; /* 2 children inside */
        grid-template-columns: auto 2.6in;
        grid-area: header;
        background-color: #eee;
        border-bottom: solid 1px #ddd;
    }
        .page-1 .header-left {
            display: grid;
            align-items: center; /* to put wrapper in middle */
            padding-bottom: 0; /* to override left-column margin */
        } 
            .page-1 .header-left h4 {
                font-size: 1em;
                text-transform: uppercase;
                letter-spacing: 2pt;
                margin: 0;
            }
        .page-1 .header-right {
            display: grid;
            align-items: center; /* to put wrapper in middle */
            padding-bottom: 0; /* to override right-column margin */
        }
            .page-1 .header-right p {
                font-size: 0.8em;
                line-height: 2em;
                font-weight: 100;
                letter-spacing: 2pt;
                text-transform: uppercase;
            }

    /* ---------------------------------------------------------- */
    
    .statement {
        grid-area: statement;
    }
        .statement p {
            padding-left: 0.05in; /* matches h2 */
        }

    /* ---------------------------------------------------------- */
    
    .highlights {
        grid-area: highlights;
    }
        .page-1 .highlight-item {
            display: inline-block;
        }
            .page-1 .highlight-item div {
                display: inline-block;
                font-size: 0.9em;
            }

    /* ---------------------------------------------------------- */
    
    .education {
        grid-area: education;
    }
        .education .education-item {
            padding-left: 0.05in; /* matches h2 */
            margin-bottom: 0.1in;
        }
            .education .education-item h3 {
                letter-spacing: 1pt;
                margin-bottom: 0.0in;
            }

    /* ---------------------------------------------------------- */
    
    .experience { 
        grid-area: experience;
    }
        .experience .experience-item {
            padding-left: 0.05in; /* matches h2 */
            margin-top: 0.15in;
        }
            .experience .experience-item .organization {
                text-transform: uppercase;
                font-size: 0.8em;
                letter-spacing: 1pt;
            }
            .experience .experience-item .date {
                font-size: 0.85em;
            }
            .experience .experience-item .supervisor {
                font-size: 0.85em;
            }

    /* ---------------------------------------------------------- */

    .skills {
        grid-area: skills;
    }
        .skill-item {
            padding: 0 0.03in 0 0.05in; /* right and left padding */
            margin-bottom: 0.06in;
        }
            .skills h5 {
                margin-bottom: 0.03in;
            }

    /* ---------------------------------------------------------- */

    .awards {
        grid-area: awards;
    }
        .awards p {
            padding-left: 0.05in; /* matches h2 */
            line-height: 1.4em; /* fine tuning */
        }
        .awards .year {
            margin-right: 0.1in;
            font-weight: 900;
            font-size: 0.9em;
        }


    /* ---------------------------------------------------------- */
    
    footer {
        color: #666;
        background-color: #eee;
        display: grid; /* 3 children inside */
        grid-area: footer;
        grid-template-columns: 2.8in auto 2.8in; /* roughly divide the page in thirds */
        grid-template-rows: 0.6in 0.1in;
        grid-template-areas: 
        "footer-left footer-center footer-right"
        "footer-border footer-border footer-border";
        align-items: center;
    }
        footer .footer-left {
            grid-area: footer-left;
            padding-left: 0.5in;
            text-align: left;
        }
        footer .footer-center {
            grid-area: footer-center;
            text-align: center;
        }
        footer .footer-right {
            grid-area: footer-right;
            padding-right: 0.5in;
            text-align: right;
        }
        footer .footer-border {
            height: 0.1in;
            background-color: #555;
            grid-area: footer-border;
        }


/*    SPECIFIC TO PAGE 2
/* ------------------------------------------------------------------ */

.page-2 {
    display: grid;
    grid-template-columns: 0.35in 4.8in 3in 0.35in;
    grid-template-rows: 0.7in 9.6in 0.7in;
    grid-template-areas: 
    "header header header header"
    ". left-column right-column ."
    "footer footer footer footer";
}
    .page-2 header {
        padding: 0 0.35in; /* need to match the page margin grid */
        display: grid; /* 2 children inside */
        grid-template-columns: auto 2.6in;
        grid-area: header;
        margin-bottom: 0.3in;
    }
    .page-2 .left-column {
        grid-area: left-column;
    }
    .page-2 .right-column {
        grid-area: right-column;
    }
    .experience {
        grid-area: experience;
        padding-bottom: 0.2in;
    }
    .publications {
        grid-area: publications;
        padding-bottom: 0.2in;
    }
        .publications .prateek-author {
            font-weight: 700;
        }
        .publications .title {
            font-style: italic;
        }
        .publications .date {
            font-weight: 700;
        }
        .publications a {
            color: inherit;
        }
        .publications li {
            list-style: '\2712';
        }

    /* ---------------------------------------------------------- */
        
    .presentations {
        grid-area: presentations;
        padding-bottom: 0.2in;
    }
        .presentations li {
            list-style: '\260A';
        }
    
    /* ---------------------------------------------------------- */
        
    .leadership {
        grid-area: leadership;
        padding-bottom: 0.2in;
    }
        .leadership .leadership-item {
            padding-left: 0.05in; /* matches h2 */
            padding-bottom: 0.03in;
            margin-bottom: 0.04in;
        }
            .leadership .leadership-item h5 {
                font-weight: 900;
            }
            .leadership .leadership-item p {
                line-height: 1.3em;
                font-size: 0.85em;
            }

    /* ---------------------------------------------------------- */

    .advising {
        grid-area: advising;
        padding-bottom: 0.2in;
    }
        .advising .advising-item {
            padding-left: 0.05in;
        }

    /* ---------------------------------------------------------- */

    .mentorship {
        grid-area: mentorship;
        padding-bottom: 0.2in;
    }
        .mentorship .mentorship-item {
            padding-left: 0.05in;
        }

    .diversity {
        grid-area: diversity;
    }
        .diversity .diversity-item {
            padding: 0 0.03in 0 0.05in; /* right and left padding */
            margin-bottom: 0.06in;
        }


/*    SPECIFIC TO PAGE 3
/* ------------------------------------------------------------------ */

.page-3 {
    display: grid;
    grid-template-columns: 0.35in 4.8in 3in 0.35in;
    grid-template-rows: 0.7in 5.3in 4.3in 0.7in;
    grid-template-areas: 
    "header header header header"
    ". skillsets-full skillsets-full ."
    ". left-column right-column ."
    "footer footer footer footer";
}
    .page-3 header {
        padding: 0 0.35in; /* need to match the page margin grid */
        display: grid; /* 2 children inside */
        grid-template-columns: auto 2.6in;
        grid-area: header;
        margin-bottom: 0.3in;
    }
    .page-3 .skillsets-full {
        grid-area: skillsets-full;
        padding: 0 0.2in 0.2in;
    }
        .page-3 .skillsets-full h5 {
            font-weight: 700;
            margin-bottom: 0.1in;
        }
        .page-3 .skillsets-full p {
            font-size: 0.8em;
            line-height: 0.9em;
            margin-bottom: 0.02in;
        }
        .page-3 .skillset-group {
            display: inline-block;
            padding: 0 0.05in;
            width: 1.8in;
            vertical-align: top;
        }
            .page-3 .skillset-group .skillset {
                margin-bottom: 0.15in;
            }
            .page-3 .skillset-group .progress-bar {
                background-color: #ddd; /* #E1A814 nice orange */
                width: 100%; /* set dynamically in html */
                /* so that the text (if any) can overflow outside */
                white-space: nowrap;
                padding-left: 0.03in;
            }
            .page-3 .skillset-group .progress-bar-container {
                width:100%;
                background-color: #f3f3f3;
                border: solid 1px #ddd;
                border-radius: 0.2em;
                height: 0.15in;
            }
            .page-3 .skillset-group .skill-item {
                line-height: 0.13in; /* keeps it centered when border is given to the container having a height of 0.15in */
                color: #333;
                font-size: 0.6em;
                font-weight: 400;
                margin-bottom: 0.015in;
                text-transform: uppercase;
                letter-spacing: 0.5pt;
                padding: 0; /* to override the default padding of skill-item */
            }
    
    .page-3 .teaching {
        padding-bottom: 0.3in;
    }
        .page-3 .teaching .teaching-item {
            padding-left: 0.05in;
            margin-bottom: 0.05in;
        }

    .page-3 .references .reference-item {
        padding-left: 0.05in;
        margin-bottom: 0.08in;
    }
    .page-3 .references .reference-item .name {
        font-weight: 700;
    }

    .page-3 .left-column {
        grid-area: left-column;
    }
    .page-3 .right-column {
        grid-area: right-column;
    }

    