{% extends "./base.html" %}


{% block additional_head_content %}

{% endblock %}


{% block title %}
	Contact | {{ first_name }} {{ last_name }}
{% endblock %}


<!-- NAV LINKS OVERRIDE
# ===================================================================-->

	{% block nav_links_li %}
	<li>
		<!-- color this link icon because it's the current page -->
		<a href="{% url 'base:professional' %}#header">
		<span class="material-icons-outlined space-span-left">attach_money</span>Professional</a>
	</li>
	<li>
		<a href="{% url 'blog:index' %}#header">
		<span class="material-icons-outlined space-span-left">edit_note</span>Blog</a>
	</li>
	<li><a href="{% url 'base:contact' %}#header">
		<span class="material-icons-outlined space-span-left color-accent">drafts</span>Contact</a>
	</li>
	{% endblock %}


<!-- CONTENT OUTSIDE OF NAV
# ===================================================================-->
{% block except-nav %}


	<!-- HEADER
	# --------------------------------------------------------------------->
	
	<section class="header" id="header">
		<h1>
			<span>Contact</span>
			<span class="fname">{{ first_name }}</span>
		</h1>
	</section>


	<!-- CONTACT
	# --------------------------------------------------------------------->
	
	<section class="contact" id="contact">
		{% if contact_status_message %}
		<div class="server-message">{{ contact_status_message }}</div>
		{% endif %}
		<form action="{% url 'base:contact' %}" method="post" id="contactForm" name="contactForm">
			{% csrf_token %}
			<input type="text" name="country" id="country" maxlength="100" class="country">
			<input type="text" name="senders_name" id="contactName" placeholder="First and Last name" required="required" maxlength="100">
			<input type="email" name="senders_email" id="contactEmail" placeholder="Your email address..." required="required" maxlength="100">
			<textarea name="message" id="contactMessage" rows="4" placeholder="Your message..." required="required" maxlength="5000"></textarea>
			<input type="submit" id="contactSubmt" name="contactSubmit" value="Send message" class="button">
		</form>
	</section>

{% endblock except-nav %}