<!-- META -->

<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="This is the portfolio website of Prateek Verma, currently a PhD Student at Georgia Tech." />
<meta name="keywords" content="Prateek Verma, Prateek, Verma, PhD, Georgia Institute of Technology, Georgia Tech, IIT, IIT Roorkee, Indian Institute of Technology, Roorkee, Saharanpur, Saharanpur Campus, Engineer, Polymer, Polymer Science, Material Science, Materials, Auxetic, Auxetic Materials, Gorakhpur, Uttar Pradesh, Atlanta, Georgia, Web Development, Machine Learning, Data Science, Convolutional Neural Network, CNN" />