{% extends "./base.html" %}

{% block additional_head_content %}
	<link rel="stylesheet" type="text/css" href="{% static 'base/professional.css' %}">
{% endblock %}

{% block title %}
	Professional | {{ first_name }} {{ last_name }}
{% endblock %}


<!-- NAV LINKS OVERRIDE
# ===================================================================-->

	{% block nav_links_li %}
	<li>
		<!-- color this link icon because it's the current page -->
		<a href="{% url 'base:professional' %}#header" class="color-accent">Professional</a>
		<!-- sub navigation items -->
		<li class="smaller-text nav-sub-link">
			<a href="{% url 'base:professional' %}#research">
			<span class="material-icons space-narrow-span-left space-span-right">subdirectory_arrow_right</span>Research</a>
		</li>
		<li class="smaller-text nav-sub-link">
			<a href="{% url 'base:professional' %}#experience">
			<span class="material-icons space-narrow-span-left space-span-right">subdirectory_arrow_right</span>Experience</a>
		</li>
		<li class="smaller-text nav-sub-link">
			<a href="{% url 'base:professional' %}#service">
			<span class="material-icons space-narrow-span-left space-span-right">subdirectory_arrow_right</span>Service</a>
		</li>
		<li class="smaller-text nav-sub-link">
			<a href="{% url 'base:professional' %}#awards">
			<span class="material-icons space-narrow-span-left space-span-right">subdirectory_arrow_right</span>Awards</a>
		</li>
	</li>
	<li>
		<a href="{% url 'blog:index' %}#header">Blog</a>
	</li>
	<li><a href="{% url 'base:contact' %}#header">Contact</a>
	</li>
	{% endblock %}


<!-- CONTENT OUTSIDE OF NAV
# ===================================================================-->
{% block except-nav %}


<!-- HEADER
# --------------------------------------------------------------------->

<section class="header" id="header">
	<h1><span class="fname">{{ first_name }}</span>
		<span class="lname">{{ last_name }}</span>
	</h1>
</section>


<!-- DETAILED PUBLICATIONS LIST
# --------------------------------------------------------------------->

<section>
	<h1>Detailed List of Publications</h1>
	<hr>
	{% for publication in publications %}
	<div class="smaller-text">
		<h3>{{ publication.title }}{% if publication.status == 'preprint' %} (preprint){% endif %}</h3>
		<p>{{ publication.authors }}</p>
		<div class="spacer10"></div>
		<p>
			<span class="uppercase color-accent2">{{ publication.container_title|default:publication.publisher }}</span>
			{% if publication.date %} / <span class="bold larger-text">{{ publication.date|date:"Y" }}</span>{% endif %}
		</p>
		<div class="spacer10"></div>
		<p><b>Cited by:</b> {{ publication.citations }}</p>
		<div class="spacer10"></div>
		<p><b>Abstract:</b> {{ publication.abstract|default:"(No abstract available.)" }}</p>
		{% if publication.link %}
		<div class="spacer10"></div>
		<p><b>Link:</b> <a href="{{ publication.link }}" class="color-link" target="blank">{{ publication.link }}</a></p>{% endif %}
	</div>
	{% if not forloop.last %}<hr>{% endif %}
	{% endfor %}

</section>
{% endblock except-nav %}
