{% extends "./base.html" %}

{% block additional_head_content %}
	<link rel="stylesheet" type="text/css" href="{% static 'base/professional.css' %}">
{% endblock %}

{% block title %}
	Professional | {{ first_name }} {{ last_name }}
{% endblock %}


<!-- NAV LINKS OVERRIDE
# ===================================================================-->

	{% block nav_links_li %}
	<li>
		<!-- color this link icon because it's the current page -->
		<a href="{% url 'base:professional' %}#header" class="color-accent">Professional</a>
		<!-- sub navigation items -->
		<li class="smaller-text nav-sub-link">
			<a href="{% url 'base:professional' %}#research">
			<span class="material-icons space-narrow-span-left space-span-right">subdirectory_arrow_right</span>Research</a>
		</li>
		<li class="smaller-text nav-sub-link">
			<a href="{% url 'base:professional' %}#experience">
			<span class="material-icons space-narrow-span-left space-span-right">subdirectory_arrow_right</span>Experience</a>
		</li>
		<li class="smaller-text nav-sub-link">
			<a href="{% url 'base:professional' %}#service">
			<span class="material-icons space-narrow-span-left space-span-right">subdirectory_arrow_right</span>Service</a>
		</li>
		<li class="smaller-text nav-sub-link">
			<a href="{% url 'base:professional' %}#awards">
			<span class="material-icons space-narrow-span-left space-span-right">subdirectory_arrow_right</span>Awards</a>
		</li>
	</li>
	<li>
		<a href="{% url 'blog:index' %}#header">Blog</a>
	</li>
	<li><a href="{% url 'base:contact' %}#header">Contact</a>
	</li>
	{% endblock %}


<!-- CONTENT OUTSIDE OF NAV
# ===================================================================-->
{% block except-nav %}


<!-- HEADER
# --------------------------------------------------------------------->

<section class="header" id="header">
	<h1><span class="fname">{{ first_name }}</span>
		<span class="lname">{{ last_name }}</span>
	</h1>
</section>


<!-- DETAILED PUBLICATIONS LIST
# --------------------------------------------------------------------->

<section>
	<h1>Detailed List of Publications</h1>
	<hr>
	{% for publication in publications %}
	<div class="smaller-text">
		<h3>{{ publication.title }}{% if publication.status == 'preprint' %} (preprint){% endif %}</h3>
		<p>{{ publication.authors }}</p>
		<div class="spacer10"></div>
		<p>
			<span class="uppercase color-accent2">{{ publication.container_title|default:publication.publisher }}</span>
			{% if publication.date %} / <span class="bold larger-text">{{ publication.date|date:"Y" }}</span>{% endif %}
		</p>
		<div class="spacer10"></div>
		<p><b>Cited by:</b> {{ publication.citations }}</p>
		<div class="spacer10"></div>
		<p><b>Abstract:</b> {{ publication.abstract|default:"(No abstract available.)" }}</p>
		{% if publication.link %}
		<div class="spacer10"></div>
		<p><b>Link:</b> <a href="{{ publication.link }}" class="color-link" target="blank">{{ publication.link }}</a></p>{% endif %}
	</div>
	{% if not forloop.last %}<hr>{% endif %}
	{% endfor %}

</section>

<section>
<h1>Chen stuff</h1>
<p>I used Google Sheets (the latest budget sheet because that was the quickest) to copy both the numbers and text from HTML to Chen's portal. The formula you can use is CONCAT(TEXT(E2, "0"), ".")</p>
<h2>List of Publications</h2>
<!-- [Reversed numbers in span]. “[Paper title],” [journal name], [publication year], [author list]. Link:  [link] -->
 <!-- grouping does not work here because it is not being passed as a context for sorting -->
<h3>Peer-reviewed journal articles</h3>
<!-- publication.status = "published" and publication.publication_type != conference-proceeding and publication.authors does not contain "Jappar" -->
<ol reversed>
	{% for publication in publications %}
	{% if publication.status == "published" and publication.publication_type != "conference-proceeding" and not "Jappar" in publication.authors %}
	<li>
		{{ publication.title|safe }}, <i>{{ publication.container_title|default:publication.publisher }}</i>, <b>{{ publication.date|date:"Y" }}</b>, {{ publication.authors }}{% if publication.link %}. Link: {{ publication.link }}{% endif %}
	</li>
	{% endif %}
	{% endfor %}
</ol>

<h3>Peer-reviewed conference proceedings</h3>
<!-- publication.status = "published" and publication.publication_type = "conference-proceeding" -->
<ol reversed>
	{% for publication in publications %}
	{% if publication.status == "published" and publication.publication_type == "conference-proceeding" and not "Jappar" in publication.authors %}
	<li>
		{{ publication.title|safe }}, <i>{{ publication.container_title|default:publication.publisher }}</i>, <b>{{ publication.date|date:"Y" }}</b>, {{ publication.authors }}{% if publication.link %}. Link: {{ publication.link }}{% endif %}
	</li>
	{% endif %}
	{% endfor %}
</ol>

<h3>Preprints</h3>
<!-- publication.status = "preprint" -->
<ol reversed>
	{% for publication in publications %}
	{% if publication.status == "preprint" and not "Jappar" in publication.authors %}
	<li>
		{{ publication.title|safe }}, <i>{{ publication.container_title|default:publication.publisher }}</i>, <b>{{ publication.date|date:"Y" }}</b>, {{ publication.authors }}{% if publication.link %}. Link: {{ publication.link }}{% endif %}
	</li>
	{% endif %}
	{% endfor %}
</ol>

<h3>Conference abstracts</h3>
<!-- same as presentations -->
<ol reversed>
	{% for presentation in presentations %}
	<li>
		{{ presentation.title|safe }}, <i>{{ presentation.container_title|default:presentation.conference }}</i>, {{ presentation.city }} ({{ presentation.country }}), <b>{{ presentation.date|date:"Y" }}</b>, {{ presentation.authors }}{% if presentation.link %}. Link: {{ presentation.link }}{% endif %}
	</li>
	{% endfor %}
</ol>

</section>

{% endblock except-nav %}
