<!DOCTYPE html>
<html lang="en">

<html>

	<head>

		<title>{{ basic_info.first_name }} {{ basic_info.last_name }} / Resume</title>

		<!-- CSS -->
		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'base/normalize.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'base/resume.css' %}">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
		<link href='https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed|Roboto+Serif' rel='stylesheet' type='text/css'>

        <!-- FAVICONS -->
        {% include "./head-favicon.html" %}

	</head>

<body>

	<!--================================================================== #
	#    PAGE 1
	# ===================================================================-->

	<section class="page page-1 page-two-columns">
	
		<!-- HEADER
		# --------------------------------------------------------------------->
		<header>
			<div class="header-left">
				<div class="wrapper"> <!-- allows left bg to be set -->
					<h1>{{ basic_info.first_name }} {{ basic_info.last_name }}</h1>
					<p>
						{{ basic_info.resume_tagline }}
					</p>
				</div>
			</div>
			<div class="header-right">
				<div class="wrapper"> <!-- allows right bg to be set -->
					<!-- shows different info online vs localhost -->
					<p><span class="material-icons md-normal">forward_to_inbox</span>{% if request.META.REMOTE_ADDR == '127.0.0.1' %}{{ basic_info.work_email }}{% else %}<a href="{% url 'base:contact' %}" target="_blank">contact form</a>{% endif %}</p>
					<p><span class="material-icons md-normal">devices</span><a href="https://www.prateekverma.com" target="_blank">{{ basic_info.website_url|cut:"https://" }}</a></p>
					<p><span class="material-icons md-normal">call</span>{% if request.META.REMOTE_ADDR == '127.0.0.1' %}+{{ basic_info.country_phone_code }} {{ basic_info.phone }}{% else %}hidden online{% endif %}</p>
				</div>
			</div>
		</header>

		<!-- PAGE CONTENT
		# --------------------------------------------------------------------->
		<div class="page-body">

			<div class="left-area">

				<!-- Statement
				# ------------------------------------------------------------->
				<div class="statement module">
					<p>{{ basic_info.personal_statement }}</p>
				</div>

				<!-- Work Experience
				# ------------------------------------------------------------->
				<div class="experience module">
					<div class="module-heading">
						<h2>Experience</h2>
						<div class="material-icons h2-right">read_more</div>
					</div>
					<!-- loops through first three experiences -->
					{% for experience in experiences|slice:":4" %}
					<div class="item">
						<h3>{{ experience.position }}, <span class="organization">{{ experience.organization.full_name }}</span></h3>
						<p class="supervisor_and_date">
						{% if experience.supervisor %}
							<span class="supervisor">{{ experience.supervisor }} {% if 'and' in experience.supervisor %}groups{% else %}group{% endif %} / </span>
							{% endif %}
							<span class="date">{{ experience.start_date|date:"Y" }}{% if experience.end_date|date:"Y" != experience.start_date|date:"Y" %} &ndash; {{ experience.end_date|date:"Y"|default:"present" }}{% endif %}</span>
						</p>
						<div>{{ experience.description|safe }}</div>
					</div>
					{% endfor %}
				</div>

			</div>

			<div class="right-area">

				<!-- Highlights
				# ------------------------------------------------------------->
				<div class="highlights module">
					<div>
						<span class="fancy-number">{{ leaderships|length|stringformat:"02d" }}</span>
						<span>leadership roles</span>
					</div>
					<div>
						<span class="fancy-number">{{ publications_published_or_submitted|length }}</span>
						<span>papers published or submitted</span>
					</div>
					<div>
						<span class="fancy-number">{{ presentations|length }}</span>
						<span>conference presentations</span>
					</div>
					<div>
						<span class="fancy-number">{{ total_advisings_mentorings }}</span>
						<span>advised or mentored</span>
					</div>
				</div>

				<!-- Education
				# ------------------------------------------------------------->
				<div class="education module">
					<div class="module-heading">
						<h2>Education</h2>
					</div>
					{% for education in educations %}
					<div class="item">
						<h4>{{ education.organization.full_name }}</h4>
						<p>{{ education.degree }}&nbsp;&nbsp;/&nbsp;&nbsp;<span class="date">{{ education.start_date|date:"Y" }} &ndash; {{ education.end_date|date:"Y" }}</span></p>
						<p>{{ education.major }}</p>
						<p class="gpa">GPA {{ education.gpa }}/{{ education.gpa_total }}</p>
					</div>
					{% endfor %}
				</div>

				<!-- SIDEBAR SKILLS
				# ------------------------------------------------------------->
				<div class="sidebar-skills module">
					<div class="module-heading">
						<h2>Skillset</h2>
						<div class="material-icons h2-right">read_more</div>
					</div>
					{% for skillset in skillsets %}
					<div class="item">
						<h5>{{ skillset.category_full|default:skillset.category }}</h5>
						<div class="sidebar-progress-bar-container">
							<div class="sidebar-progress-bar" style="width: {{ skillset.score }}%"><div class="sidebar-progress-bar-dot"></div></div>
						</div>
					</div>
					{% endfor %}
				</div>

				<!-- Awards
				# ------------------------------------------------------------->
				<div class="sidebar-awards module">
					<div class="module-heading">
						<h2>Select Honors</h2>
					</div>
					{% for item in honor_and_awards_featured|slice:":8" %}
						<p class="item"><span class="year">{{ item.start_date|date:"Y" }}</span>{{ item.short_title|safe }}</p>
					{% endfor %}
				</div>

			</div>

		</div>
		
		<!-- FOOTER (page 1)
		# --------------------------------------------------------------------->
		<footer>
			<div class="footer-left">
				<span class="material-icons md-normal">read_more</span>continued on subsequent page(s)
			</div>
			<div class="footer-center">
				<span class="material-icons md-normal">history</span>{% now "F Y" %}
			</div>
			<div class="footer-right">
				<span class="material-icons md-normal">layers</span>1 of 3
			</div>
			<div class="footer-border"></div>
		</footer>

	</section>


	<!--================================================================== #
	#    PAGE 2
	# ===================================================================-->

	<section class="page page-two-columns">

		<header></header>

		<div class="page-body">

			<div class="left-area">

				<!-- Work Experience
				# ------------------------------------------------------------->
				<div class="experience module">
					<div class="module-heading">
						<h2>Experience (contd.)</h2>
					</div>
					<!-- internships -->
					<div class="item">
						<h3>Internships (awarded)</h3>
						{% for experience in experiences|slice:"4:" %}
						<div>{{ experience.position }}, {{ experience.organization.full_name }}, <span class="date">{{ experience.start_date|date:"Y" }}{% if experience.end_date|date:"Y" != experience.start_date|date:"Y" %} &ndash; {{ experience.end_date|date:"Y"|default:"present" }}{% endif %}</span></div>
						{% endfor %}
					</div>
				</div>

				<!-- Publications
				# ------------------------------------------------------------->
				<div class="publications module">
					<div class="module-heading">
						<h2>Select Publications (of {{ publications|length }})</h2>
					</div>
					<ul>
						{% for publication in publications_featured|slice:":8" %}
						<li>
							<!-- unfortunately spans need to be all on one line, else they introduce a space in between -->
							<!-- some classes are not styled, but I'll let them stay for future -->
							<span class="authors">
							{% for author in publication.authors_list_very_short %}{% if author == "P Verma" %}<span class="prateek-author">{{ author }}</span>{% else %}{{ author }}{% endif %}{% if author != publication.authors_list_short|last and author != "et al." %}, {% endif %}{% endfor %}</span><span class="title">; {% if publication.title|length > 150 %}{{ publication.title|truncatechars:"100" }}{% else %}{{ publication.title }}{% endif %}</span><span class="publisher">; {{ publication.publisher }}</span>; <span class="date">{{ publication.date|date:"Y" }}</span>{% if publication.comment %}<span class="comment">; ({{ publication.comment }})</span>{% endif %}{% if publication.status != "published" %}<span>; ({{ publication.status }})</span>{% endif %}{% if publication.link %} <a href={{ publication.link }} target="blank"><span class="material-icons md-small-right">link</span></a>{% endif %}
						</li>
						{% endfor %}
					</ul>
				</div>

				<!-- Presentations
				# ------------------------------------------------------------->
				<div class="presentations module">
					<div class="module-heading">
						<h2>Select Presentations (of {{ presentations|length }})</h2>
					</div>
					<ul>
					{% for presentation in presentations_featured|slice:":8" %}
						<li>
							<span class="title">{{ presentation.title }}</span><span class="location">; {{ presentation.city }} (<span class="country">{{ presentation.country }}</span>)</span>; <span class="date">{{ presentation.date|date:"Y" }}</span>{% if presentation.comment %}<span class="comment">; {{ presentation.comment }}</span>{% endif %}{% if presentation.link %} <a href={{ presentation.link }} target="blank"><span class="material-icons md-small-right">link</span></a>{% endif %}
						</li>
					{% endfor %}
					</ul>
				</div>

			</div>

			<div class="right-area">

				<!-- LEADERSHIP
				# ------------------------------------------------------------->
				<div class="leadership module">
					<div class="module-heading">
						<h2>Select Leadership</h2>
					</div>
					{% for leadership in leaderships_featured|slice:":5" %}
					<div class="item">
						<h4>{{ leadership.start_date|date:"Y" }} &ndash; {{ leadership.end_date|date:"Y"|default:"present" }} / {{ leadership.organization.short_name }}</h4>
						<p>{{ leadership.short_title }}</p>
					</div>
					{% endfor %}
				</div>

				<!-- Diversity index
				# ------------------------------------------------------------->
				<div class="diversity module">
					<div class="module-heading">
						<h2>Diversity</h2>
					</div>
					<p class="item">
						Percentage of the total <strong>{{ total_advisings_mentorings }}</strong> advised or mentored
					</p>
					<div class="item">
					{% for name, percent in diversity_index.items %}
						<p>
							<span class="fancy-number">{{ percent|stringformat:"02d" }}</span>% {{ name }}
						</p>
					{% endfor %}
					</div>
				</div>

				<!-- Advisings
				# ------------------------------------------------------------->
				<div class="sidebar-advising module">
					<div class="module-heading">
						<h2>Research advisor</h2>
					</div>
					<p class="item">for <strong>{{ advisings|length }}</strong> industry members / graduates / undergraduates in the following broad areas</p>
					<div class="item">
						<p><span class="material-icons md-normal">escalator_warning</span>supervised & unsupervised learning</p>
						<p><span class="material-icons md-normal">calendar_view_day</span>convolutional neural networks</p>
						<p><span class="material-icons md-normal">route</span>machine learning for molecules</p>
						<p><span class="material-icons md-normal">view_in_ar</span>auxetics and metamaterials</p>
						<p><span class="material-icons md-normal">hdr_weak</span>structure-property relationships</p>
					</div>
					<div class="item">
						<p>*direct supervisor for <span class="fancy-number">{{ count_direct_advising }}</span></p>
					</div>
				</div>

				<!-- Mentorings
				# ------------------------------------------------------------->
				<div class="sidebar-mentoring module">
					<div class="module-heading">
						<h2>Mentorship</h2>
					</div>
					<p class="item">Served as a mentor for Mentor Jackets, MSE Industry Mentoring and IITR's Alumni Mentorship Program since 2016.
					</p>
					<div class="item">
					{% regroup mentorings by degree_type as mentoring_groups %}
					{% for group in mentoring_groups %}
						<p><span class="fancy-number">{{ group.list|length }}</span> {{ group.grouper }} students</p>
					{% endfor %}
					</div>
				</div>

			</div>

		</div>

		<!-- FOOTER (page 2)
		# --------------------------------------------------------------------->
		<footer>
			<div class="footer-left">
				<a href="https://prateekverma.com/professional" target="_blank"><span class="material-icons md-normal">devices</span>more info available on website</a>
			</div>
			<div class="footer-center">
				<span class="material-icons md-normal">history</span>{% now "F Y" %}
			</div>
			<div class="footer-right">
				<span class="material-icons md-normal">layers</span>2 of 3
			</div>
			<div class="footer-border"></div>
		</footer>

	</section>

	
	<!--================================================================== #
	#    PAGE 3
	# ===================================================================-->

	<section class="page page-hybrid-columns">

		<header></header>

		<div class="page-body">

			<!-- SKILLSETS
			# ------------------------------------------------------------->
			<div class="skillsets-full module">
				<div class="module-heading">
					<h2>Skillsets</h2>
				</div>
				{% regroup skillsets by group as skillsets_groups %}
				{% for group in skillsets_groups %}
				<div class="skillset-group">
					{% for skillset in group.list %}
					<div class="skillset">
						<h3>{{ skillset.category_full|default:skillset.category }}</h3>
						{% for skill in skillset.skills_list_abbr_with_score %}
						<div class="skill-item">
							<div class="progress-bar-container">
								<div class="progress-bar" style="width: {{ skill.1 }}%">{{ skill.0 }}</div>
							</div>
						</div>
						{% endfor %}	
					</div>
					{% endfor %}
				</div>
				{% endfor %}
			</div>

			<div class="left-area">

				<!-- REVIEWS
				# ------------------------------------------------------------->
				<div class="reviews module">
					<div class="module-heading">
						<h2>Scientific reviewing</h2>
					</div>
					<div class="item">
						Reviewed manuscripts for <span class="fancy-number">{{ reviews|length }}</span> journals including: 
					</div>
					<ul>
					{% for review in reviews_featured|slice:":6" %}
						<li>{{ review.publication }}</li>
					{% endfor %}
					</ul>
				</div>

				<!-- Teaching
				# ------------------------------------------------------------->
				<div class="teaching module">
					<div class="module-heading">
						<h2>Teaching</h2>
					</div>
					<p class="item">Guest lecturer or teaching assistant for a total of <span class="fancy-number">{{ teachings|length }}</span> courses at Georgia Tech and University of Arkansas.
				</div>

				<!-- EXTRA-CURRICULAR
				# ------------------------------------------------------------->
				<div class="extracurriculars module">
					<div class="module-heading">
						<h2>Extracurriculars</h2>
					</div>
					<p>
						{{ basic_info.extra_curricular|safe }}
					</p>
				</div>

			</div>

			<div class="right-area">

				<!-- REFERENCES
				# ------------------------------------------------------------->
				<div class="references module">
					<div class="module-heading">
						<h2>References</h2>
					</div>
					{% for reference in references|slice:":5" %}
					<div class="item">
						<h4 class="name">{{ reference.name }}{% if reference.website_url %}<a href="{{ reference.website_url }}" target="_blank"><span class="material-icons md-small-right">link</span></a>{% endif %}</h4>
						<p>{{ reference.position }}, {{ reference.organization.short_name }}</p>
						<p><span class="material-icons md-small-left">mail_outline</span>{{ reference.email }}</p>
					</div>
					{% endfor %}
				</div>

			</div>

		</div>

		<!-- FOOTER (page 3)
		# --------------------------------------------------------------------->
		<footer>
			<div class="footer-left">
				<a href="https://prateekverma.com/professional" target="_blank"><span class="material-icons md-normal">devices</span>more info available on website</a>
			</div>
			<div class="footer-center">
				<span class="material-icons md-normal">history</span>{% now "F Y" %}
			</div>
			<div class="footer-right">
				<span class="material-icons md-normal">layers</span>3 of 3
			</div>
			<div class="footer-border"></div>
		</footer>

	</section>

</body>

</html>