<!DOCTYPE html>
<html lang="en">

<html>

	<head>

		<title>{{ basic_info.first_name }} {{ basic_info.last_name }} / Resume</title>

		<!-- CSS -->
		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'base/normalize.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'base/resume.css' %}">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
		<link href='https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed|Roboto+Serif' rel='stylesheet' type='text/css'>

        <!-- FAVICONS -->
        {% include "./head-favicon.html" %}

	</head>

<body>

	<!--================================================================== #
	#    PAGE 1
	# ===================================================================-->

	<section class="page page-1 page-two-columns">
	
		<!-- HEADER
		# --------------------------------------------------------------------->
		<header>
			<div class="header-left">
				<div class="wrapper"> <!-- allows left bg to be set -->
					<h1>{{ basic_info.first_name }} {{ basic_info.last_name }}</h1>
					<p>
						{{ basic_info.resume_tagline|safe }}
					</p>
				</div>
			</div>
			<div class="header-right">
				<div class="wrapper"> <!-- allows right bg to be set -->
					<!-- shows different info online vs localhost -->
					<p><span class="icon" aria-label="Email">✉</span> {% if request.META.REMOTE_ADDR == '127.0.0.1' %}{{ basic_info.work_email }}{% else %}<a href="{% url 'base:contact' %}" target="_blank">contact form</a>{% endif %}</p>
					<p><span class="icon" aria-label="Website">🌎</span> <a href="https://www.prateekverma.com" target="_blank">{{ basic_info.website_url|cut:"https://" }}</a></p>
					<p><span class="icon" aria-label="Phone">📱</span> {% if request.META.REMOTE_ADDR == '127.0.0.1' %}+{{ basic_info.country_phone_code }} {{ basic_info.phone }}{% else %}hidden online{% endif %}</p>
				</div>
			</div>
		</header>

		<!-- PAGE CONTENT
		# --------------------------------------------------------------------->
		<div class="page-body">

			<div class="left-area">

				<!-- Statement
				# ------------------------------------------------------------->
				<div class="statement module">
					<p>{{ basic_info.resume_statement|safe }}</p>
				</div>

				<!-- Work Experience
				# ------------------------------------------------------------->
				<div class="experience module">
					<div class="module-heading">
						<h2>Work experience</h2>
					</div>
					<!-- loops through first three experiences -->
					{% for experience in experiences|slice:":4" %}
					<div class="item">
						<h3>{{ experience.position }}, <span class="organization">{{ experience.organization.full_name }}</span></h3>
						<p class="supervisor_and_date">
						{% if experience.supervisor %}
							<span class="supervisor">{{ experience.supervisor }} {% if 'and' in experience.supervisor %}groups{% else %}group{% endif %}, </span>
							{% endif %}
							<span class="date">{{ experience.start_date|date:"Y" }}{% if experience.end_date|date:"Y" != experience.start_date|date:"Y" %} &ndash; {{ experience.end_date|date:"Y"|default:"present" }}{% endif %}</span>
						</p>
						<div>{{ experience.short_description|default:experience.description|safe }}</div>
					</div>
					{% endfor %}
					<!-- internships -->
					<div class="item">
						<h3>Internships</h3>
						<p>
						{% for experience in experiences|slice:"4:" %}
							{{ experience.organization.short_name }} ({{ experience.start_date|date:"Y" }}){% if forloop.counter < 3 %}, {% endif %}
						{% endfor %}
						</p>
					</div>
				</div>

			</div>

			<div class="right-area">

				<!-- Highlights
				# ------------------------------------------------------------->
				<div class="highlights module">
					<div>
						<strong>{{ publications_published_or_submitted|length }}</strong> &nbsp;papers published or submitted
					</div>
					<div>
						<strong>{{ publications_first_author|length }}</strong> &nbsp;first author papers
					</div>
					<div><strong>{{ presentations|length }}</strong> &nbsp;conference presentations
					</div>
					<div>
						<strong>16</strong> &nbsp;manuscripts reviewed
					</div>
				</div>

				<!-- Education
				# ------------------------------------------------------------->
				<div class="education module">
					<div class="module-heading">
						<h2>Education</h2>
					</div>
					{% for education in educations %}
					<div class="item">
						<h4>{{ education.organization.full_name }}</h4>
						<p>{{ education.degree }}, <span class="date">{{ education.start_date|date:"Y" }} &ndash; {{ education.end_date|date:"Y" }}</span></p>
						<p>{{ education.major }}</p>
						<p class="gpa">GPA {{ education.gpa }}/{{ education.gpa_total }}</p>
					</div>
					{% endfor %}
				</div>

				<!-- NEW SKILLS
				# ------------------------------------------------------------->
				<div class="sidebar-skills module">
					<div class="module-heading">
						<h2>New skills</h2>
					</div>
					{% for skill in recent_skills|slice:":11" %}
					<div class="item">
						<h5>{{ skill.short_name|default:skill }}</h5>
						<div class="sidebar-progress-bar-container">
							<div class="sidebar-progress-bar" style="width: {{ skill.score }}%"><div class="sidebar-progress-bar-dot"></div></div>
						</div>
					</div>
					{% endfor %}
				</div>

				<!-- Awards
				# ------------------------------------------------------------->
				<div class="sidebar-awards module">
					<div class="module-heading">
						<h2>Select awards</h2>
					</div>
					{% for item in honor_and_awards_featured|slice:":8" %}
						<p class="item">{{ item.start_date|date:"Y" }} &ndash; {{ item.short_title|safe }}</p>
					{% endfor %}
				</div>

			</div>

		</div>
		
		<!-- FOOTER (page 1)
		# --------------------------------------------------------------------->
		<footer>
			<div class="footer-left">
			</div>
			<div class="footer-center">
				<span class="material-icons md-normal">history</span>{% now "F Y" %}
			</div>
			<div class="footer-right">
				<span class="icon" aria-label="page">📄</span> &nbsp;1 of 3
			</div>
			<div class="footer-border"></div>
		</footer>

	</section>


	<!--================================================================== #
	#    PAGE 2
	# ===================================================================-->

	<section class="page">

		<header></header>

		<div class="page-body">

			<!-- SKILLSETS
			# ------------------------------------------------------------->
			<div class="skillsets-full module">
				<div class="module-heading">
					<h2>Skillsets</h2>
				</div>
				{% regroup skills_categories by group as category_groups %}
				{% for group in category_groups %}
				<div class="skillset-group">
					{% for category in group.list %}
					<div class="skillset">
						<h3>{{ category }}</h3>
						<!-- NOTE: below is the way to reverse look up a manyToMany field. Uses _set -->
						{% for skill in category.skill_set.all %}
						<div class="skill-item">
							<div class="progress-bar-container">
								<div class="progress-bar" style="width: {{ skill.score }}%">{{ skill.short_name|default:skill.name }}</div>
							</div>
						</div>
						{% endfor %}
					</div>
					{% endfor %}
				</div>
				{% endfor %}
			</div> <!-- end skillsets-full -->

			<!-- Publications
			# ------------------------------------------------------------->
			<div class="publications module">
				<div class="module-heading">
					<h2>Select Publications</h2>
				</div>
				<ul>
					{% for publication in publications_featured|slice:":10" %}
					<li>
						<!-- unfortunately spans need to be all on one line, else they introduce a space in between -->
						<!-- some classes are not styled, but I'll let them stay for future -->
						<span class="authors">
						{% for author in publication.authors_list_very_short %}{% if author == "P Verma" %}<b>{{ author }}</b>{% else %}{{ author }}{% endif %}{% if author != publication.authors_list_short|last and author != "et al." %}, {% endif %}{% endfor %}</span>; {% if publication.title|length > 150 %}{{ publication.title|truncatechars:"100" }}{% else %}{{ publication.title|safe }}{% endif %}<i>; {{ publication.publisher }}</i>; <b>{{ publication.date|date:"Y" }}</b>{% if publication.comment %}; ({{ publication.comment }}){% endif %}{% if publication.status != "published" %}; ({{ publication.status }}){% endif %}{% if publication.link %} <a href={{ publication.link }} target="blank"><span class="icon">🔗</span></a>{% endif %}
					</li>
					{% endfor %}
				</ul>
			</div> <!-- end publications -->

		</div> <!-- end page-body -->

		<!-- FOOTER (page 2)
		# --------------------------------------------------------------------->
		<footer>
			<div class="footer-left">
			</div>
			<div class="footer-center">
				<span class="material-icons md-normal">history</span>{% now "F Y" %}
			</div>
			<div class="footer-right">
				<span class="icon" aria-label="page">📄</span> &nbsp;2 of 3
			</div>
			<div class="footer-border"></div>
		</footer>

	</section>


	<!--================================================================== #
	#    PAGE 3
	# ===================================================================-->

	<section class="page page-hybrid-columns">

		<header></header>

		<div class="page-body">

			<!-- Presentations
			# ------------------------------------------------------------->
			<div class="presentations module">
				<div class="module-heading">
					<h2>Select Presentations</h2>
				</div>
				<ul>
				{% for presentation in presentations_featured|slice:":10" %}
					<li>
						{{ presentation.title|safe }}; {{ presentation.city }} (<span class="country">{{ presentation.country }}</span>); <b>{{ presentation.date|date:"Y" }}</b>{% if presentation.comment %}; {{ presentation.comment }}{% endif %}{% if presentation.link %} <a href={{ presentation.link }} target="blank"><span class="icon">🔗</span></a>{% endif %}
					</li>
				{% endfor %}
				</ul>
			</div> <!-- end presentations -->

			<div class="left-area">

				<!-- Professional Service
				# ------------------------------------------------------------->
				<div class="service module">

					<div class="module-heading">
						<h2>Professional service</h2>
					</div>

					<div class="item">
						<h3>Peer reviewing</h3>
						<p>Reviewed more than <strong>15</strong> manuscripts for journals such as:</p>
						<p>{% for review in reviews_featured|slice:":6" %}{{ review.publication }}, {% endfor %}etc. 
						</p>
					</div>

					<div class="item">
						<h3>Mentoring</h3>
						<p>Served as a mentor for Mentor Jackets, MSE Industry Mentoring and IITR's Alumni Mentorship Program since 2016 for:</p>
						{% regroup mentorings by degree_type as mentoring_groups %}
						{% for group in mentoring_groups %}
						<p><b>&nbsp;{{ group.list|length }}</b> &nbsp;{{ group.grouper }} students</p>
						{% endfor %}
					</div>

					<div class="item">
						<h3>Research advising</h3>
						<p>Advised the research of <strong>{{ advisings|length }}</strong> (direct supervisor for {{ count_direct_advising }}) industry members / graduates / undergraduates in the following broad areas:</p>
						<ul>
							<li>convolutional neural networks</li>
							<li>machine learning for molecules</li>
							<li>linear and logistic regression</li>
							<li>auxetics and metamaterials</li>
							<li>structure-property relationships</li>
						</ul>
					</div>

					<div class="item">
						<h3>Select leadership</h3>
						<ul>
						{% for leadership in leaderships_featured|slice:":5" %}
							<li>{{ leadership.short_title|safe }}, {{ leadership.organization.short_name }}, {{ leadership.start_date|date:"Y" }}&ndash;{{ leadership.end_date|date:"Y"|default:"present" }}</li>
						{% endfor %}
						</ul>
					</div>

				</div> <!-- end professional service -->
			
			</div> <!-- end left-area -->

			<div class="right-area">

				<!-- REFERENCES
				# ------------------------------------------------------------->
				<div class="references module">
					<div class="module-heading">
						<h2>References</h2>
					</div>
					{% for reference in references|slice:":5" %}
					<div class="item">
						<h4 class="name">{{ reference.name }}</h4>
						<p>{{ reference.position }}, {{ reference.organization.short_name }}</p>
						<p><span class="icon" aria-label="Email">✉</span> {{ reference.email }}</p>
					</div>
					{% endfor %}
				</div>

				<!-- EXTRA-CURRICULAR
				# ------------------------------------------------------------->
				<div class="extracurriculars module">
					<div class="module-heading">
						<h2>Extracurriculars</h2>
					</div>
					<p>
						{{ basic_info.extra_curricular|safe }}
					</p>
				</div>


			</div>

		</div> <!-- end page-body -->

		<!-- FOOTER (page 3)
		# --------------------------------------------------------------------->
		<footer>
			<div class="footer-left">
			</div>
			<div class="footer-center">
				<span class="material-icons md-normal">history</span>{% now "F Y" %}
			</div>
			<div class="footer-right">
				<span class="icon" aria-label="page">📄</span> &nbsp;3 of 3
			</div>
			<div class="footer-border"></div>
		</footer>

	</section>

</body>

</html>