<!DOCTYPE html>
<html lang="en">

<html>

	<head>

		<title>{{ basic_info.first_name }} {{ basic_info.last_name }} - Resume classic</title>

		<!-- CSS -->
		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'base/normalize.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'base/resume-classic.css' %}">
		<link href='https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed|Roboto+Serif' rel='stylesheet' type='text/css'>

        <!-- FAVICONS -->
        {% include "./head-favicon.html" %}

	</head>

<body>


    <header>
        <h1>{{ basic_info.first_name }} {{ basic_info.last_name }}</h1>
        <p class="tagline">{{ basic_info.resume_tagline|safe }}</p>
        <p><b>Website</b>: <a href="https://www.prateekverma.com" target="_blank">{{ basic_info.website_url|cut:"https://" }}</a>, <b>Email</b>: {{ basic_info.work_email }}, <b>Phone</b>: +{{ basic_info.country_phone_code }} {{ basic_info.phone }}</p>
    </header>
   
    
    <!-- Statement
    # --------------------------------------------------------------------->
    <p>{{ basic_info.resume_statement|safe }}</p>
   
    
    <!-- Education
    # --------------------------------------------------------------------->
    <h2>Education</h2>
    {% for education in educations %}
    <p><b>{{ education.organization.full_name }}, {{ education.start_date|date:"Y" }} &ndash; {{ education.end_date|date:"Y" }}</b>, {{ education.degree }}, {{ education.major }}, GPA {{ education.gpa }}/{{ education.gpa_total }}</p>
    {% endfor %}
    
 
    <!-- Experience
    # --------------------------------------------------------------------->
    <h2>Experience</h2>
    {% for experience in experiences|slice:":4" %}
    <h3>{{ experience.position }}, {{ experience.organization.full_name }}, {{ experience.start_date|date:"Y" }}{% if experience.end_date|date:"Y" != experience.start_date|date:"Y" %} &ndash; {{ experience.end_date|date:"Y"|default:"present" }}{% endif %}</h3>
    {% if experience.supervisor %}
        <p>{{ experience.supervisor }} {% if 'AIMRC' not in experience.supervisor %}{% if 'and' in experience.supervisor %}groups{% else %}group{% endif %}{% endif %}</p>
    {% endif %}
    <div>{% if experience.short_description %}{{ experience.short_description|safe }}{% else %}{{ experience.description|safe }}{% endif %}</div>
    {% endfor %}
    

    <!-- Skills
    # --------------------------------------------------------------------->
    <h2>Skills</h2>
    {% regroup skills_categories by group as category_groups %}
    {% for group in category_groups %}
        {% for category in group.list %}
            <p>
            <b>{{ category }}</b> &ndash; 
            {% for skill in category.skill_set.all|dictsortreversed:"start_year" %}
                {{ skill.short_name|capfirst|default:skill.name|capfirst }}{% if not forloop.last %}, {% else %}.{% endif %}
            {% endfor %}
            </p>
        {% endfor %}
    {% endfor %}
    

    <!-- Publications
    # --------------------------------------------------------------------->
    <h2>Publications</h2>
    <p>of {{ publications|length }} total, {{ publications_published_or_submitted|length }} are published or submitted and {{ publications_first_author|length }} are first-author papers. Five most recent publications are shown.</p>
    <p>Please visit <a href="https://scholar.google.com/citations?user=UX6lFSoAAAAJ&hl=en" target="blank">Google Scholar</a> or <a href="https://www.prateekverma.com/professional/#research" target="blank">my website</a> for a complete list.</p>
    <ol reversed>
        {% for publication in publications_featured|slice:":5" %}
        <li>
            {% for author in publication.authors_list_short %}{% if author == "P Verma" %}<b>{{ author }}</b>{% else %}{{ author }}{% endif %}{% if author != publication.authors_list_short|last %}, {% endif %}{% endfor %}; {{ publication.title|safe }}; <i>{{ publication.publisher }}</i> ({{ publication.status }}){% if publication.issue_etc %}; {{ publication.issue_etc }}{% endif %}; <b>{{ publication.date|date:"Y" }}</b>{% if publication.comment %}; ({{ publication.comment }}){% endif %}{% if publication.link %} <a href="{{ publication.link }}" target="blank">(link)</a>{% endif %}
        </li>
        {% endfor %}
    </ol>
    

    <!-- Presentations
    # --------------------------------------------------------------------->
    <h2>Presentations</h2>
    <p>of {{ presentations|length }} total, five most recent are shown. Speakers are shown in bold. Please visit <a href="https://www.prateekverma.com/professional/#research" target="blank">my website</a> for a complete list.</p>
    <ol reversed>
        {% for presentation in presentations|slice:":5" %}
        <li>
            {% for author in presentation.authors_list_short %}{% if forloop.counter == presentation.speaker_index %}<b>{{ author }}</b>{% else %}{{ author }}{% endif %}{% if author != presentation.authors_list_short|last %}, {% endif %}{% endfor %}; {{ presentation.title|safe }}; {{ presentation.city }} (<span class="small-uppercase">{{ presentation.country }}</span>); <b>{{ presentation.date|date:"Y" }}</b>{% if presentation.comment %}; (<i>{{ presentation.comment }}</i>){% endif %}{% if presentation.link %} <a href="{{ presentation.link }}" target="blank">(link)</a>{% endif %}
        </li>
        {% endfor %}
    </ol>


    <!-- Service
    # --------------------------------------------------------------------->
    <h2>Service</h2>
    <p><b>Research advising</b> &ndash; Advised the research of a total of {{ advisings|length }} undergraduate and graduate students and industry members.</p>
    <p><b>Mentorship</b> &ndash; Served as a mentor for Mentor Jackets, MSE Industry Mentoring and IITR's Alumni Mentorship Program for a total of {{ mentorings|length }} members.</p>
    <p><b>Teaching</b> &ndash; Taught a total of {{ teachings|length }} lectures and labs.</p>
    <p><b>Scientific Reviewing</b> &ndash; Reviewed manuscripts for a total of {{ reviews|length }} scientific journals.</p>
    <p><b>Research funding</b> &ndash; Contributed to the planning, writing, editing and/or review of {{ proposals|length }} research funding proposals securing ~$500,000 in awards.</p>


    <!-- Awards
    # --------------------------------------------------------------------->
    <h2>Honors and awards</h2>
    <p>
    {% for award in honor_and_awards %}
    <b>({{ forloop.counter }})</b> {{ award.title|safe }}, {{ award.organization.short_name }} ({{ award.start_date|date:"Y" }}{% if award.end_date %} &ndash; {{ award.end_date|date:"Y" }}{% endif %}){% if not forloop.last %}; {% else %}.{% endif %}
    {% endfor %}
    </p>


    <!-- Leadership
    # --------------------------------------------------------------------->
    <h2>Leadership experience</h2>
    <p>
    {% for leadership in leaderships %}
    <b>({{ forloop.counter }})</b> {{ leadership.title|safe }}, {{ leadership.organization.short_name }}, ({{ leadership.start_date|date:"Y" }} &ndash; {{ leadership.end_date|date:"Y"|default:"present" }}){% if not forloop.last %}; {% else %}.{% endif %}
    {% endfor %}
    </p>


</body>

</html>