<!DOCTYPE html>
<html lang="en">

<html>

	<head>

		<title>{{ basic_info.first_name }} {{ basic_info.last_name }} | Résumé</title>

		<!-- CSS -->
		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'base/normalize.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'base/resume.css' %}">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
		<link href='http://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed|Roboto+Serif' rel='stylesheet' type='text/css'>

		<!-- META -->

        <!-- FAVICONS -->
        {% include "./head-favicon.html" %}

	</head>

<body>

	<!--================================================================== #
	#    PAGE 1
	# ===================================================================-->
	
	<section class="page page-1">

		<!-- HEADER
		# --------------------------------------------------------------------->
		<header> <!-- so that the entire header can be given a bg color -->
			<div class="header-left left-column">
				<div class="wrapper"> <!-- allows left bg to be set -->
					<h1>{{ basic_info.first_name }} {{ basic_info.last_name }}</h1>
					<h4>{{ basic_info.resume_tagline }}</h4>
				</div>
			</div>
			<div class="header-right right-column">
				<div class="wrapper"> <!-- allows right bg to be set -->
					<p><span class="material-icons md-normal">forward_to_inbox</span>{{ basic_info.work_email }}</p>
					<p><span class="material-icons md-normal">devices</span>{{ basic_info.website_url|cut:"https://" }}</p>
					<p><span class="material-icons md-normal">call</span>+{{ basic_info.country_phone_code }} {{ basic_info.phone }}</p>
				</div>
			</div>
		</header>

		<!-- STATEMENT
		# --------------------------------------------------------------------->
		<div class="statement left-column"><p>{{ basic_info.personal_statement }}</p></div>

		<!-- HIGHLIGHTS
		# --------------------------------------------------------------------->
		<div class="highlights right-column">
			<div class="highlight-item">
				<div class="fancy-number">{{ publications_published_or_submitted|length }}</div><div>papers published/submitted</div>
			</div>
			<div class="highlight-item">
				<div class="fancy-number">{{ presentations|length }}</div><div>conference presentations</div>
			</div>
			<div class="highlight-item">
				<div class="fancy-number">{{ leaderships|length }}</div><div>leadership roles</div>
			</div>
			<div class="highlight-item">
				<div class="fancy-number">{{ advisings|length }}</div><div>researchers advised</div>
			</div>
			<div class="highlight-item">
				<div class="fancy-number">{{ mentorings|length }}</div><div>students mentored</div>
			</div>
			<div class="highlight-item">
				<div class="fancy-number">{{ teachings|length }}</div><div>classes taught</div>
			</div>
		</div>

		<!-- EDUCATION
		# --------------------------------------------------------------------->
		<div class="education right-column">
			<div class="section-heading">
				<h2>Education</h2>
			</div>
			{% for education in educations %}
			<div class="education-item">
				<h3>{{ education.degree }}&nbsp;&nbsp;/&nbsp;&nbsp;<span class="date">{{ education.start_date|date:"Y" }} &ndash; {{ education.end_date|date:"Y" }}</span></h3>
				<h5>{{ education.organization.full_name }}</h5>
				<p>{{ education.major }}</p>
				<p class="gpa">GPA&nbsp;&nbsp;&nbsp; {{ education.gpa }}&nbsp;&nbsp;/&nbsp;&nbsp;{{ education.gpa_total }}</p>
			</div>
			{% endfor %}
		</div>

		<!-- EXPERIENCE
		# --------------------------------------------------------------------->
		<div class="experience left-column">

			<div class="section-heading">
				<h2>Experience</h2>
				<div class="material-icons h2-right">read_more</div>
			</div>

			<div class="experience-item">
				<h3>Postdoctoral fellow</h3>
				<!-- loops through the two postdoctoral experiences -->
				{% for experience in experiences|slice:":2" %}
				<h4><span class="organization">{{ experience.organization.full_name }}</span>
				<span class="supervisor">&nbsp;&nbsp;/&nbsp;&nbsp;{{ experience.supervisor }} group</span>
				<span class="date">&nbsp;&nbsp;/&nbsp;&nbsp;{{ experience.start_date|date:"Y" }}{% if experience.end_date|date:"Y" != experience.start_date|date:"Y" %} &ndash; {{ experience.end_date|date:"Y"|default:"present" }}{% endif %}</span></h4>
				<div class="description">{{ experience.description|safe }}</div>
				{% endfor %}
			</div>

			<!-- loops through Kimoto and GT experiences -->
			{% for experience in experiences|slice:"2:5" %}
			<div class="experience-item">
				<h3>{{ experience.position }}</h3>
				<h4><span class="organization">{{ experience.organization.full_name }}</span>
				{% if experience.supervisor %}
				<span class="supervisor">&nbsp;&nbsp;/&nbsp;&nbsp;{{ experience.supervisor }} group</span>
				{% endif %}
				<span class="date">&nbsp;&nbsp;/&nbsp;&nbsp;{{ experience.start_date|date:"Y" }}{% if experience.end_date|date:"Y" != experience.start_date|date:"Y" %} &ndash; {{ experience.end_date|date:"Y"|default:"present" }}{% endif %}</span></h4>
				<div class="description">{{ experience.description|safe }}</div>
			</div>
			{% endfor %}

		</div>

		<!-- AWARDS
		# --------------------------------------------------------------------->
		<div class="awards right-column">
			<div class="section-heading">
				<h2>Honors & Awards</h2>
				<div class="material-icons h2-right">read_more</div>
			</div>
			{% for item in featured_honor_and_awards %}
				<p><span class="year">{{ item.start_date|date:"Y" }}</span>{{ item.short_title|safe }}</p>
			{% endfor %}
		</div>

		<!-- SKILLS
		# --------------------------------------------------------------------->
		<div class="skills right-column">
			<div class="section-heading">
				<h2>Skillsets</h2>
				<div class="material-icons h2-right">read_more</div>
			</div>
			{% for skillset in skillsets %}
			<div class="skill-item">
				<h5>{{ skillset.category_full|default:skillset.category }}</h5>
				<div class="progress-bar-container">
					<div class="progress-bar" style="width: {{ skillset.score }}%"><div class="progress-bar-dot"></div></div>
				</div>
			</div>
			{% endfor %}
		</div>

		<!-- FOOTER
		# --------------------------------------------------------------------->
		<footer>
			<div class="footer-left">
				<span class="material-icons md-normal">read_more</span>please see subsequent page(s)
			</div>
			<div class="footer-center">
				<span class="material-icons md-normal">history</span>{% now "d F Y" %}
			</div>
			<div class="footer-right">
				<span class="material-icons md-normal">layers</span>1 of 3
			</div>
			<div class="footer-border"></div>
		</footer>
	
	</section>


	<!--================================================================== #
	#    PAGE 2
	# ===================================================================-->

	<section class="page page-2">

		<header></header>

		<div class="left-column">

		<!-- EXPERIENCE (CONTD.)
		# --------------------------------------------------------------------->

			<div class="experience">

				<div class="section-heading">
					<h2>Experience (contd.)</h2>
				</div>

				<!-- loops through Kimoto and GT experiences -->
				{% for experience in experiences|slice:"5:" %}
				<div class="experience-item">
					<h3>{{ experience.position }}</h3>
					<h4><span class="organization">{{ experience.organization.full_name }}</span>
					{% if experience.supervisor %}
					<span class="supervisor">&nbsp;&nbsp;/&nbsp;&nbsp;{{ experience.supervisor }} group</span>
					{% endif %}
					<span class="date">&nbsp;&nbsp;/&nbsp;&nbsp;{{ experience.start_date|date:"Y" }}{% if experience.end_date|date:"Y" != experience.start_date|date:"Y" %} &ndash; {{ experience.end_date|date:"Y"|default:"present" }}{% endif %}</span></h4>
					<div class="description">{{ experience.description|safe }}</div>
				</div>
				{% endfor %}

			</div>


		<!-- PUBLICATIONS
		# --------------------------------------------------------------------->

			<div class="publications">

				<div class="section-heading">
					<h2>Select Publications</h2>
					<div class="h2-right">7 of {{ publications|length }} shown</div>
				</div>
				<ul>
				{% for publication in publications_published|slice:":7" %}
					<li>
					<!-- unfortunately spans need to be all on one line, else they introduce a space in between -->
					<span class="authors">
					{% for author in publication.authors_list_short %}{% if author == "P Verma" %}<span class="prateek-author">{{ author }}</span>{% else %}{{ author }}{% endif %}{% if author != publication.authors_list_short|last %}, {% endif %}{% endfor %}</span><span class="title">; {{ publication.title }}</span><span class="publisher">; {{ publication.publisher }}</span>{% if publication.issue_etc %}<span class="issue_etc">; {{ publication.issue_etc }}</span>{% endif %}; <span class="date">{{ publication.date|date:"Y" }}</span>{% if publication.comment %}; <span class="comment">({{ publication.comment }})</span>{% endif %}{% if publication.link %} <a href={{ publication.link }} target="blank"><span class="material-icons md-normal">link</span></a>{% endif %}
					</li>
				{% endfor %}
				</ul>
			</div>


		<!-- PRESENTATIONS
		# --------------------------------------------------------------------->

			<div class="presentations">

				<div class="section-heading">
					<h2>Select Presentations</h2>
					<div class="h2-right">7 of {{ presentations|length }} shown</div>
				</div>
				<ul>
				{% for presentation in presentations_featured|slice:":7" %}
					<li>
						<span class="title">{{ presentation.title }}</span><span class="location">; {{ presentation.city }} (<span class="country">{{ presentation.country }}</span>)</span><span class="date">; {{ presentation.date|date:"Y" }}</span>
					</li>
				{% endfor %}
				</ul>
			</div>
		
		</div> <!-- end left-column -->


		<div class="right-column">


		<!-- LEADERSHIP
		# --------------------------------------------------------------------->

			<div class="leadership">
				<div class="section-heading">
					<h2>Leadership</h2>
					<div class="material-icons h2-right">open_in_new</div>
				</div>
				{% for leadership in leaderships|slice:":5" %}
				<div class="leadership-item">
					<h5><span class="date">{{ leadership.start_date|date:"Y" }} &ndash; {{ leadership.end_date|date:"Y"|default:"present" }}</span><span class="agency"> / {{ leadership.organization.short_name }}</span></h5>
					<p><span class="title">{{ leadership.title }}</span></p>
				</div>
				{% endfor %}
			</div>


		<!-- ADVISING
		# --------------------------------------------------------------------->

			<div class="advising">
				<div class="section-heading">
					<h2>Research advisor</h2>
					<div class="material-icons h2-right">open_in_new</div>
				</div>
				<div class="advising-item">
					<p>for<span class="fancy-number">{{ advisings|length }}</span>industry members / graduates / undergraduates in the following broad areas</p>
					<p><span class="material-icons md-normal">fork_right</span>unsupervised & supervised learning</p>
					<p><span class="material-icons md-normal">merge</span>industrial coatings</p>
					<p><span class="material-icons md-normal">roundabout_right</span>coacervation thermodynamics</p>
					<p><span class="material-icons md-normal">route</span>auxetics and metamaterials</p>
					<p><span class="material-icons md-normal">turn_slight_right</span>nanocomposites</p>
				</div>
				<div class="advising-item">
					<p>*direct supervisor for<span class="fancy-number">{{ count_direct_advising }}</span></p>
				</div>
				
			</div>


		<!-- MENTORSHIP
		# --------------------------------------------------------------------->

			<div class="mentorship">
				<div class="section-heading">
					<h2>Mentorship</h2>
					<div class="material-icons h2-right">open_in_new</div>
				</div>
				<div class="mentorship-item">
					<p>Served as a mentor for <strong>Mentor Jackets, MSE Industry Mentoring and IITR's Alumni Mentorship Program</strong> since 2016.
					</p>
					{% regroup mentorings by degree_type as mentoring_groups %}
					{% for group in mentoring_groups %}
					<p><span class="fancy-number">{{ group.list|length }}</span> {{ group.grouper }} students</p>
					{% endfor %}
				</div>
			</div>
		
		
		<!-- DIVERSITY
		# --------------------------------------------------------------------->

			<div class="diversity">
				<div class="section-heading">
					<h2>Diversity</h2>
				</div>
				<p class="diversity-item">Percentage of the total <strong>{{ total_advisings_mentorings }}</strong> advised/mentored</p>
				{% for name, percent in diversity_index.items %}
				<p class="diversity-item">
					<span class="fancy-number">{{ percent|stringformat:"02d" }}</span>% {{ name }}
				</p>
				{% endfor %}
			</div>

		</div> <!-- end right-column -->

		<footer>
			<div class="footer-left">
				<span class="material-icons md-normal">open_in_new</span>more on <a href="https://www.prateekverma.com" target="_blank">website</a>
			</div>
			<div class="footer-center">
				<span class="material-icons md-normal">history</span>{% now "d F Y" %}
			</div>
			<div class="footer-right">
				<span class="material-icons md-normal">layers</span>2 of 3
			</div>
			<div class="footer-border"></div>
		</footer>

	</section>


	<!--================================================================== #
	#    PAGE 3
	# ===================================================================-->
	<section class="page page-3">

		<header></header>

		<!-- SKILLSETS
		# --------------------------------------------------------------------->

		<div class="skillsets-full">
			<div class="section-heading">
				<h2>Skillsets</h2>
			</div>

			{% regroup skillsets by group as skillsets_groups %}
			{% for group in skillsets_groups %}
			<div class="skillset-group">
				{% for skillset in group.list %}
				<div class="skillset">
					<h5>{{ skillset.category_full|default:skillset.category }}</h5>
					{% for skill in skillset.skills_list_abbr_with_score %}
					<div class="skill-item">
						<p>{{ skill.0 }}</p>
						<div class="progress-bar-container">
							<div class="progress-bar" style="width: {{ skill.1 }}%"></div>
						</div>
					</div>
					{% endfor %}	
				</div>
				{% endfor %}
			</div>
			{% endfor %}
		</div>


		<div class="left-column">

		<!-- TEACHING
		# --------------------------------------------------------------------->

			<div class="teaching">

				<div class="section-heading">
					<h2>Teaching</h2>
				</div>
				<p class="teaching-item">Guest lecturer, guest instructor (for labs) and teaching assistant for a total of {{ teachings|length }} courses at {% regroup teachings by organization as teachings_organization %}{% for item in teachings_organization %}{{ item.grouper.short_name }}{% if forloop.counter > 1 %}, {% endif %}{% endfor %} in the following broad areas:</p>
				<p class="teaching-item">Thermal analysis of polymers, polymerization reactions, mechanical and viscoelastic properties of polymers, rheology, and introductory materials science</p>
			</div>


		<!-- EXTRA-CURRICULAR
		# --------------------------------------------------------------------->

			<div class="extracurriculars">

				<div class="section-heading">
					<h2>Extracurriculars</h2>
				</div>
				<p>
					{{ basic_info.extra_curricular|safe }}
				</p>
			</div>
		
		</div> <!-- end left-column -->


		<div class="right-column">

		<!-- REFERENCES
		# --------------------------------------------------------------------->

			<div class="references">
				<div class="section-heading">
					<h2>References</h2>
				</div>
				{% for reference in references|slice:":4" %}
				<div class="reference-item">
					<h5 class="name">{{ reference.name }}{% if reference.website_url %}<a href="{{ reference.website_url }}" target="_blank"><span class="material-icons md-small-right">open_in_new</span></a>{% endif %}</h5>
					<p>{{ reference.position }}, {{ reference.organization.short_name }}</p>
					<p><span class="material-icons md-small-left">mail_outline</span>{{ reference.email }}</p>
				</div>
				{% endfor %}
			</div>

		</div> <!-- end right-column -->

		<!-- FOOTER
		# --------------------------------------------------------------------->

		<footer>
			<div class="footer-left">
			</div>
			<div class="footer-center">
				<span class="material-icons md-normal">history</span>{% now "d F Y" %}
			</div>
			<div class="footer-right">
				<span class="material-icons md-normal">layers</span>3 of 3
			</div>
			<div class="footer-border"></div>
		</footer>

	</section>

</body>

</html>